services:
  prometheus_sonnen:
    container_name: prometheus_sonnen
    image: prom/prometheus:latest
    restart: unless-stopped
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-admin-api'
      - '--web.enable-lifecycle'
      - '--storage.tsdb.retention.time={{ prometheus_sonnen.retentiontime }}'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alertrules.yml:/etc/prometheus/alertrules.yml
      - ./scrape_configs.yml:/etc/prometheus/scrape_configs.yml
      - prometheus_sonnen_data:/prometheus
    ports:
      - '{{ prometheus_sonnen.port }}:9090'

volumes:
  prometheus_sonnen_data:
