services:
  prometheus-alertmanager:
    container_name: prometheus-alertmanager
    image: prom/alertmanager:latest
    restart: unless-stopped
    volumes:
      - '{{ prometheus_alertmanager_path }}/alertmanager.yml:/config/alertmanager.yml'
      - alertmanager_data:/data
    ports:
      - '{{ prometheus_alertmanager_port }}:9093'
    command: --config.file=/config/alertmanager.yml

volumes:
  alertmanager_data:
